form .form-group label{
    display:none;
    font-size:18px;
    line-height:24px;
    font-weight:100;
    text-transform:uppercase;
}

form .no-placeholder .form-group label{
    display:block;
}

form .controls {
    padding:0;
    margin-bottom:30px;
}

form.no-placeholder .controls {
    margin-top:0;
}

form .form-control {
    display:inline;
    background:transparent;
    border-radius:5px;
    border-color: #777;
    color:#fff;
    outline:none;
    height:52px;
    font-weight:300;
}

form  select[multiple].form-control {
    height: auto;
}

form .form-group{
    position:relative;
}

form textarea.form-control {
    height:auto;
    max-width:100%;
    min-width:100%;
    vertical-align:top;
}

form .form-control:focus {
    outline:none;
    box-shadow:none;
    border-color: #ddd;
}

form .error-message {
    padding:5px 0;
    position:absolute;
    top:-30px;
    right:0;
    font-size:14px;
    line-height:24px;
    font-weight:300;
    color:#ff3345;
    z-index:10;
}

form.no-placeholder .error-message {
    top:0;
}

.gray-bg form .form-control {
    background:white;
    border-color: #777;
    color: #000;
}

button.multiselect {
    display: inline;
    background: transparent;
    border-radius: 5px;
    border-color: rgb(119, 119, 119);
    color: rgb(255, 255, 255);
    outline: none;
    height: 52px;
    font-weight: 300;
    width: 100%;
    text-align: left;
}

button.multiselect b.caret {
    float: right;
    margin-top: 7px;
}

button.multiselect:hover,
.btn-group.open button.multiselect {
    background: transparent;
    color: white;
}

.btn-group {
    width: auto;
    width: 100%;
}

.multiselect-container {
    width: 100%
}

.multiselect-container input {
    height: 34px;
}

.multiselect-container input.multiselect-search {
    color: hsl(0, 0%, 20%);
}

.multiselect-container input[type=checkbox] {
    height: 17px;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #d5d5d5;
    color: hsl(0, 0%, 20%);
}

form .form-group .multiselect-container label {
    display: block;
    text-transform: inherit;
    font-size: 14px;
}

form .repeatable .repeater-add {
    display: none;
}

form .repeatable:last-child .repeater-add {
    display:  block;
}

form .repeatable .repeater-add,
form .repeatable .repeater-remove {
    cursor: pointer;
    font-size: 1.5em;
    line-height: 52px;
}

form .repeatable:last-child .repeater-remove {
    display:  none;
}