form .form-group label{
    display:none;
    font-size:18px;
    line-height:24px;
    font-weight:100;
    text-transform:uppercase;
}

form .no-placeholder .form-group label{
    display:block;
}

form .controls {
    padding:0;
    margin-bottom:30px;
}

form.no-placeholder .controls {
    margin-top:0;
}

form .form-control {
    display:inline;
    background:transparent;
    border-radius:5px;
    border-color: #777;
    color:#fff;
    outline:none;
    height:52px;
    font-weight:300;
}

form  select[multiple].form-control {
    height: auto;
}

form .form-group{
    position:relative;
}

form textarea.form-control {
    height:auto;
    max-width:100%;
    min-width:100%;
    vertical-align:top;
}

form .form-control:focus {
    outline:none;
    box-shadow:none;
    border-color: #ddd;
}

form .error-message {
    padding:5px 0;
    position:absolute;
    top:-30px;
    right:0;
    font-size:14px;
    line-height:24px;
    font-weight:300;
    color:#ff3345;
    z-index:10;
}

form.no-placeholder .error-message {
    top:0;
}

.gray-bg form .form-control {
    background:white;
    border-color: #777;
    color: #000;
}