.container.main {
    margin-top:30px;
}

.breadcrumb-wrap {
    background-color: #f5f5f5;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0px;
    list-style: none;
    border-radius: 4px;
}

.pagination > li > a, .pagination > li > span {
    color: #000000;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #F75443;
    border-color: #F75443;
}

.no_bottom {
    margin-bottom: 0px;
}

.title-gear {
    float: right;
    font-size: .4em;
    line-height: 3.5em;
}

.section-title .popover {
    font-size: .3em;
    line-height: 1em;
}

.popover {
    color: black;
}

.modal-dialog {
    margin-top: 100px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited, .btn-primary:focus  {
    background-color: #F75443;
    border-color: #c94438;
}

.btn-primary:hover {
    background-color: #c94438;
}

.drawer-target {
    display: none;
}

.large-text {
    font-size: 1.1em;
}

.no-left {
    padding-left: 0px;
    margin-left: 0px;
}